In [1]:
import requests
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from wordcloud import WordCloud

In [65]:
# Get data from API

api_dadosabertosurl = 'https://dadosabertos.camara.leg.br/api/v2/deputados'
resposta = requests.request("GET", api_dadosabertosurl, params={})
objetos = json.loads(resposta.text)
dados_df = pd.DataFrame(objetos['dados'])

dados_df = (dados_df[['id', 'nome', 'siglaPartido', "siglaUf"]])
dados_df

         id             nome  siglaPartido siglaUf
0    220593   Abilio Brunini            PL      MT
1    204379   Acácio Favacho           MDB      AP
2    220714      Adail Filho  REPUBLICANOS      AM
3    221328  Adilson Barroso            PL      SP
4    204560     Adolfo Viana          PSDB      BA
..      ...              ...           ...     ...
508  220558        Zé Trovão            PL      SC
509  204517         Zé Vitor            PL      MG
510  160592      Zeca Dirceu            PT      PR
511  220592  Zezinho Barbary            PP      AC
512  220552            Zucco  REPUBLICANOS      RS

[513 rows x 4 columns]

In [63]:
id_deputado = "220539"
api_dadosabertos_despesas = ("https://dadosabertos.camara.leg.br/api/v2/deputados/{}/despesas?ordem=ASC&ordenarPor=ano".format(id_deputado))
despesas_resposta = requests.get(api_dadosabertos_despesas)
despesas = despesas_resposta.json()
despesas_df = pd.DataFrame(despesas['dados'])
#despesas_df.head()

In [71]:
total_despesas_df = pd.DataFrame({
    "id": [],
    "Despesas": []
})
total_despesas_df

Empty DataFrame
Columns: [id, Despesas]
Index: []

In [69]:
#for linha in range(len(dados_df.index)):
for linha in range(3):
    #display(dados_df.loc[linha])
    id_deputado = dados_df.loc[linha, 'id']
    api_dadosabertos_despesas = ("https://dadosabertos.camara.leg.br/api/v2/deputados/{}/despesas?ordem=ASC&ordenarPor=ano".format(id_deputado))
    despesas_resposta = requests.get(api_dadosabertos_despesas)
    despesas = despesas_resposta.json()
    despesas_df = pd.DataFrame(despesas['dados'])
    total_despesas = despesas_df['valorDocumento'].sum()
    new_row = {'id': id_deputado, 'Despesas': total_despesas}
    total_despesas_df = total_despesas_df._append(new_row, ignore_index=True)
    #dados_df['Despesas'] = total_despesas

In [72]:
total_despesas_df

Empty DataFrame
Columns: [id, Despesas]
Index: []